.cb_template.cb_template_reborn{
    padding:1.5em;
}
.cb_template.cb_template_reborn .page-header h3{
  text-align: center;
  margin-bottom: 2em;
}

/*------------------------------*/
/*      Login/registration      */
/*------------------------------*/
.cb_template.cb_template_reborn.cbRegistration .page-header {
    margin: 0.5em -0.5em 1em;
    padding: 0;
    border: none;
    font-size: 1.5em;
    background: #0096AE;
    color: white;
    box-shadow: 1px 1px 5px black;
}
.cb_template.cb_template_reborn.cbRegistration .page-header h3 {
    text-align: center;
    margin: 0;
    padding: 0.2em;
    position: relative;
    border: 1px solid #00434D;
    text-shadow: 1px 1px 3px rgb(21, 21, 21);
}
.cb_template.cb_template_reborn.cbRegistration .page-header h3:before {
    content: '';
    border-top: 0.5em solid #00434D;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
}
.cb_template.cb_template_reborn.cbRegistration .page-header h3:after {
    content: '';
    border-top: 0.5em solid #00434D;
    border-right: 0.3em solid transparent;
    position: absolute;
    top: 100%;
    right: 0;
}

/*------------------------------*/
/*         Registration         */
/*------------------------------*/
#registrationTable {
    margin: 0 2em;
}
#registrationTable .cbTabs .cbTabsNav {
    text-align: center;
}
#registrationTable .cbTabs .cbTabsNav li.cbTabNav {
    float: none;
    display: inline-block;
}
#registrationTable .cbTabs .cbTabsContent  .cbTabPane .btn-primary{
  background: #009BD6;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px 0;
  border: 1px solid #009BD6;
}
#registrationTable .cbTabs .cbTabsContent  .cbTabPane .btn-primary[disabled]{
  background-color: #307691;
  border-color: #307691;
}
#registrationTable .cbTabs .cbTabsContent  .cbTabPane .btn-primary:hover {
  background: #009BD6 linear-gradient(to bottom, rgba(255, 255, 255, 0.29) 0%,rgba(179, 179, 179, 0.5) 50%,rgba(111, 111, 111, 0.5) 51%,rgba(128, 128, 128, 0) 100%);
}

/*------------------------------*/
/*             Login            */
/*------------------------------*/
.cb_template_reborn.cbLostPassForm {
  margin-top: 4em;
  text-align: center;
}
.cb_template_reborn.cbLostPassForm .page-header{
  border-bottom: none;
}
.cb_template_reborn.cbLostPassForm .cb_form .control-label{
    color:#009BD6;
    font-size: larger;
}
.cb_template_reborn.cbLostPassForm .cb_form .control-label, .cbLostPassForm .cb_form .cb_field{
    width: 100%;
}
.cb_template_reborn.cbLostPassForm .cb_form .col-sm-offset-3.col-sm-9{
  margin: 0 25%;
  width: 50%;
}
#lostpassdesc .cb_field ,#lostusernamepassdesc .cb_field, #lostusernamedesc .cb_field{
    padding: 1em;
    border: 1px solid lightcoral;
    background-color: #f5e7e7;
}
.cb_template_reborn.cbLostPassForm .btn-primary{
  background: #009BD6;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px 0;
  border: 1px solid #009BD6;
}
.cb_template_reborn.cbLostPassForm .btn-primary[disabled]{
  background-color: #307691;
  border-color: #307691;
}
.cb_template_reborn.cbLostPassForm .btn-primary:hover {
  background: #009BD6 linear-gradient(to bottom, rgba(255, 255, 255, 0.29) 0%,rgba(179, 179, 179, 0.5) 50%,rgba(111, 111, 111, 0.5) 51%,rgba(128, 128, 128, 0) 100%);
}

/*------------------------------*/
/*         Confirmation         */
/*------------------------------*/
.cb_template.cb_template_reborn.cbUserConfirmation .info {
  text-align: center;
  margin-top: 2em;
  font-size: x-large;
}

/*------------------------------*/
/*            Profile           */
/*------------------------------*/
/* Design ribbon pour le canvas du profile */
.cb_template .cbCanvasLayout {
  background-color: #0097db;
  padding: 5px;
  margin: 0 -2em;
  border: 1px solid black;
}
.cb_template .cbCanvasLayout:before {
    content: '';
    border-top: 1.5em solid #004a6b;
    border-left: 2em solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
}
.cb_template .cbCanvasLayout:after {
    content: '';
    border-top: 1.5em solid #004a6b;
    border-right: 2em solid transparent;
    position: absolute;
    top: 100%;
    right: 0;
}

/* Redimensionnement et positionnement de l'image de profile */
.cb_template .cbCanvasLayout .cbCanvasLayoutTop .cbCanvasLayoutPhoto{
  bottom: 37px;
  left:20px;
  width: 124px;
  height: 124px;
}
.cb_template .cbCanvasLayout .cbCanvasLayoutTop .cbCanvasLayoutPhoto .cb_form_line .cbImgPict{
  width: 124px;
  height: 124px;
}

/* Repositionnnement des textes de titre du profile */
.cb_template .cbCanvasLayout .cbCanvasLayoutBottom{
  position: absolute;
  top: 37px;
  z-index: 10;
  background: transparent;
  border: none;
}
.cb_template .cbCanvasLayout .cbCanvasLayoutBottom .cbCanvasLayoutTitle{
  padding-left: 165px;
}
/* Modification affichage du titre du profile */
.cbProfile #cb_tabid_19 {
  font-size: xx-large;
  color: white;
}
/* Modification affichage des informations de diplôme */
.cbProfile #cb_tabid_25 div{
  display: inline-block; /* Sur une ligne */
  margin-bottom: 0px;
  color: #1094cf;
}
.cbProfile #cb_tabid_25 .cb_field {
  padding: 5px;
}

/* Repositionnement des statistiques */
.cb_template .cbCanvasLayout .cbCanvasLayoutBottom .cbCanvasLayoutCounters {
  padding-left: 170px;
  font-size: small;
  color: #a0a0a0;
}
.cb_template .cbCanvasLayout .cbCanvasLayoutBottom .cbCanvasLayoutCounters .cb_form_line .control-label{
  display: none;
}

/*------------------------------*/
/*            Annuaire          */
/*------------------------------*/
.cb_template .cbUserListHead .page-header{
    margin: 0.5em -0.5em 1em;
    padding: 0;
    border: none;
    font-size: 1.5em;
    background: #0096AE;
    color: white;
    box-shadow: 1px 1px 5px black;
}
.cb_template .cbUserListHead .page-header h3{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0.2em;
    position: relative;
    border: 1px solid #00434D;
    text-shadow: 1px 1px 3px rgb(21, 21, 21);
}
.cb_template .cbUserListHead .page-header h3:before{
    content: '';
    border-top: 0.5em solid #00434D;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
}
.cb_template .cbUserListHead .page-header h3:after{
    content: '';
    border-top: 0.5em solid #00434D;
    border-right: 0.3em solid transparent;
    position: absolute;
    top: 100%;
    right: 0;
}
.cb_template .cbUserListHead .cbUserListDescription{
  display: none;
}
.cb_template .cbUserListHead .cbUserListResultCount{
  text-align: right;
}
.cb_template .cbUserListLayoutGrid {
  text-align: center;
}
.cb_template .cbUserListLayoutGrid .img-thumbnail{
    background-color: whitesmoke;
}
.cb_template .cbUserListLayoutGrid .img-thumbnail:hover {
    background-color: #ebf6f9;
}
.cb_template .Annuaire-Liste-Avatar{
  position:relative;
  height: 100px;
}
.cb_template .Annuaire-Liste-Avatar .cbUserListFC_avatar img{
  margin-top: 10px;
  padding: 5px;
  height: 75px;
}
.cb_template .Annuaire-Liste-Avatar .cbUserListFL_onlinestatus {
    position: absolute;
    top: 70px;
    left: 60px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.cb_template .Annuaire-Liste-Nom a {
  text-decoration: none;
}
.cb_template .Annuaire-Liste-Nom .cbUserListFC_cb_nom,
.cb_template .Annuaire-Liste-Nom a:hover {
    color: #337ab7;
}
.cb_template .Annuaire-Liste-Nom .cbUserListFieldLine {
  display: inline-block;
}
.cb_template .Annuaire-Liste-Nom .cbUserListFL_firstname{
  margin-right: 5px;
}
.cb_template .Annuaire-Liste-Promotion .cbUserListFieldLine {
  display: inline-block;
}
.cb_template .Annuaire-Liste-Promotion .cbUserListFL_cb_school:after{
  content: "-";
  display: inline-block;
  margin: 0px 4px;
}
.cb_template .Annuaire-Liste-Branche{

}
